.chat-transcript .chat-transcript-container {

}

.chat-transcript .chat-form {
	padding: 0;
}

.chat-transcript .chat-bubble {
    padding: 10px;
    background: #eee;
    margin: 5px 20px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.chat-transcript .chat-bubble:after {
    content: '';
    position: absolute;
    top: 75%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-transcript .chat-bubble--left:after {
	left: 0;
	border-right-color: #eee;
	border-left: 0;
	margin-left: -10px;
}

.chat-transcript .chat-bubble--right:after {
	right: 0;
	border-left-color: #74b9ff;
	border-right: 0;
	margin-right: -10px;
}

.chat-transcript .chat-bubble-offset .chat-bubble--right {
    background: #74b9ff;
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

