.login-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 10px 15px;
}

.login-screen .login-header {
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.login-screen .login-header .logo {
	width: 50px;
	padding: 0 10px 0 0;
}

.login-screen .login-header img {
	width: 100%;
}

.form {
	background: #fff;
	border-radius: 4px;
	padding: 1.4em;
}

.form .form-alert.form-alert--errors {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


.form .form-alert.form-alert--success {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.form .form-alert {
	position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	text-align: center;
}


.form .fieldset {
	position: relative;
	margin: 1.4em 0;
}

.form .fieldset.fieldset--image {
	text-align: center;
}

.form .fieldset.fieldset--image .thumbnail {
	display: inline-block;
}

.form .fieldset:first-child {
	margin-top: 0;
}

.form label {
	font-size: 15px;
	background: #fff;
	position: absolute;
	left: 15px;
	padding: 0 5px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: 0.2s ease all;
}

.form label.image-replace {
	/* replace text with an icon */
	/* display: inline-block; */
	/* height: 20px;
	width: 20px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	text-shadow: none;
	background-repeat: no-repeat;
	background-position: 50% 0; */
}

.form input {
	margin: 0;
	padding: 0;
	border-radius: 0.25em;
}

.form input.full-width {
	width: 100%;
}

.form input.has-padding {
	padding: 17px 20px 17px 20px;
}

.form input.has-border {
	border: 1px solid #d2d8d8;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.form input.has-border:focus {
	border-color: #343642;
	box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
	outline: none;
}

.form input.has-border:focus ~ label, .form input.has-border.has-value ~ label {
	top: 1%;
	font-size: 12px;
}

.form input.has-error {
	border: 1px solid #d76666;
}

.form input[type=password] {
	/* space left for the HIDE button */
	padding-right: 65px;
}

.form .hide-password {
	display: inline-block;
	position: absolute;
	text-decoration: none;
	right: 0;
	top: 0;
	padding: 6px 15px;
	border-left: 1px solid #d2d8d8;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 14px;
	color: #343642;
	cursor: pointer;
}

.form .error-message {
	display: inline-block;
	position: absolute;
	left: -5px;
	bottom: -35px;
	background: rgba(215, 102, 102, 0.9);
	padding: .8em;
	z-index: 2;
	color: #FFF;
	font-size: 13px;
	border-radius: 0.25em;
	/* prevent click and touch events */
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
	-moz-transition: opacity 0.2s 0, visibility 0 0.2s;
	transition: opacity 0.2s 0, visibility 0 0.2s;
}

.form .error-message::after {
	/* triangle */
	content: '';
	position: absolute;
	left: 22px;
	bottom: 100%;
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.form .error-message.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s 0, visibility 0 0;
	-moz-transition: opacity 0.2s 0, visibility 0 0;
	transition: opacity 0.2s 0, visibility 0 0;
}

.btn {
	display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
  	cursor: pointer;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	text-decoration: none;
	transition: all 0.0s;
	-o-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -webkit-transition: all 0.0s;
	font-size: 16px;
}

.btn-capitalize {
	text-transform: capitalize;
}

.btn.btn-primary {
	background: #4d90fe;
	color: #fff;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 18px;
	text-align: center;
}

.btn.btn-primary:hover {
	background: #357ae8;
}

.btn.btn-link {

}

.form .btn.btn-link:hover {
	text-decoration: underline;
}