.login-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 10px 15px;
}

.login-screen .login-header {
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.login-screen .login-header .logo {
	width: 50px;
	padding: 0 10px 0 0;
}

.login-screen .login-header img {
	width: 100%;
}

.form {
	border-radius: 4px;
	padding: 1.4em;
}

.form.login-form,
.form.signup-form,
.form.forgot-password-form {
  background: #fff;
}
.form.login-form .form-alert.form-alert--errors,
.form.signup-form .form-alert.form-alert--errors,
.form.forgot-password-form .form-alert.form-alert--errors {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.form.login-form .form-alert.form-alert--success,
.form.signup-form .form-alert.form-alert--success,
.form.forgot-password-form .form-alert.form-alert--success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.form.login-form label,
.form.signup-form label,
.form.forgot-password-form label {
  background: #fff;
}

.form .form-alert {
	position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	text-align: center;
}


.form .fieldset {
	position: relative;
	margin: 1.4em 0;
}

.form .fieldset.fieldset--image {
	text-align: center;
}

.form .fieldset.fieldset--image .thumbnail {
	display: inline-block;
}

.form .fieldset:first-child {
	margin-top: 0;
}

.form label {
	font-size: 15px;
	background: #fff;
	position: absolute;
	left: 15px;
	padding: 0 5px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: 0.2s ease all;
}

.form label.image-replace {
	/* replace text with an icon */
	/* display: inline-block; */
	/* height: 20px;
	width: 20px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	text-shadow: none;
	background-repeat: no-repeat;
	background-position: 50% 0; */
}

.form input {
	margin: 0;
	padding: 0;
	border-radius: 0.25em;
}

.form input.full-width {
	width: 100%;
}

.form input.has-padding {
	padding: 17px 20px 17px 20px;
}

.form input[type=password] {
	/* space left for the HIDE button */
	padding-right: 65px;
}


.btn {
	display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
  	cursor: pointer;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	text-decoration: none;
	transition: all 0.0s;
	-o-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -webkit-transition: all 0.0s;
	font-size: 16px;
}

.btn-capitalize {
	text-transform: capitalize;
}

.form .btn.btn-link:hover {
	text-decoration: underline;
}